<h1>Thought Box</h1>

<%= link_to "Sign Out", logout_path, method: :delete %>

<h3>Add a link:</h3>

<%= render partial: 'form' %>

<h3>My Links</h3>

<div id="links-list">
  <% @links.each do |link| %>
    <div class="link" id="link-<%= link.id %>">
      <%= link_to link.title, link.url %>
      <%= button_to "Edit", edit_link_path(id: link.id), method: :get if link.id %>
      <% if link.read %>
        <button type="button" name="unread" id="unread">Mark As Unread</button>
      <% else %>
        <button type="button" name="read" id="read">Mark As Read</button>
      <% end %>
    </div>
  <% end %>
</div>
