<h1>Thought Box</h1>

<%= link_to "Sign Out", logout_path, method: :delete %>

<h2>Add a link:</h2>

<%= render partial: 'form' %>

<h2>My Links</h2>

<label for="link_search_filter">Search</label>
<%= text_field :link_search, :filter %>

<div id="links-list">
  <% @links.each do |link| %>
    <div class="link read-<%= link.read %>"
         id="link-<%= link.id %>"
         data-id="<%= link.id %>"
         data-title="<%= link.title %>"
         data-read="<%= link.read %>">
      <h3><%= link_to link.title, link.url %></h3>
      <%= button_to "Edit", edit_link_path(id: link.id), method: :get if link.id %>
      <% if link.read %>
        <button name="unread" id="unread">Mark As Unread</button>
      <% else %>
        <button name="read" id="read">Mark As Read</button>
      <% end %>
    </div>
    <br>
  <% end %>
</div>
